.ProCard__img {
  width: 100%;
  background-color: rgb(17, 16, 16);
  border-radius: 47%;
}
.ProCards_Card {
  margin: 2rem 1rem 2rem 1rem;
  width: 18rem !important;
  background: #f7f8ffa8 !important;
  padding-top: 1rem;

}
.ProCards_Card:hover {
  margin: 2rem 1rem 2rem 1rem;
  width: 18rem !important;
  background-color: white !important;
  transition: all 550ms ease-in-out;
}
.ProCard__Container {
  height: 3.5rem;
  
}
#Button__Card {
  justify-content: center;
}
#Button__Base {
  margin: auto;
}

.ProCard__opacidad {
  opacity: 80%;
}

#Button__Buy{
  background-color: #be9063 !important;
  height: 40px;
  width: 100px;
  
}
#buttonsContainer{
  display: flex;
  justify-content: space-around;

}

#Button__Info{
  background-color: rgb(165, 163, 163) !important;
  height: 40px;
  width: 100px;
}

h4 {
  font-size: 1.2rem !important;
}