.ProCard__img {
  width: 60%;
  background-color: rgb(17, 16, 16);
  border-radius: 100%;
}
.ProCards_Card {
  margin: 20px 10px 20px 10px;
  width: 30% !important;
  /* opacity: 80%; */
  background:#ffffffb8 !important;
  padding-top: 10px;
}
.ProCards_Card:hover{
  margin: 20px 10px 20px 10px;
  width: 30% !important;
  background-color: white !important;
  transition: all 550ms ease-in-out; 
}
.ProCard__Container {
  height: 70px;
}
#Button__Card {
  justify-content: center;
}
#Button__Base {
  margin: auto;
}

.ProCard__opacidad{
  opacity: 80%;
}
/* .div{
  background-color: black;
  opacity: 100%;
} */