.profile {
    padding-bottom: 0.5rem;
    padding-top: 4rem;
}

.orders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Table__Container{
    padding-top: 2rem;
}