.AdminPanel__Panel {
  padding: 1rem;
  height: 55rem;
}

.imgAdmin {
  height: 20rem;
  width: auto;
}
.AdminPanel__Title {
  padding-top: 8rem;
  padding-bottom: 1rem;
  color: #be9063;
}

.AdminPanel__Form {
  background-color: rgb(204, 204, 204);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.dropdown {
  float: center;
  overflow: hidden;
}

.dropbutton {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: inherit;
}

.dropdown .dropbutton {
  border: none;
  outline: none;
  color: white;
  background-color: #be9063;
  width: 12rem;
}

.dropdown-content {
  display: none;
  position: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

.links {
  float: none;
  color: white;
  padding: 1rem;
  background-color: #be9063;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  font-family: inherit;
}

.dropdown-content a:hover {
  background-color: #e9ded3;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  float: center;
}