.Catalogue__Div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6.5rem;
  margin-left: 17%;
  color: white;
}

.Catalogue__container {
  display: flex;
  background-image: url('https://image.freepik.com/foto-gratis/bodega_181624-1264.jpg%27');
  background-size: cover;
}

.Catalogue__containerCargando {
  margin: 0px;
  padding-top: 200px;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: black;
  color: white;
}