.Catalogue__Div {
    display: flex;
    flex-direction: row;
    /* margin-top: 20px ; */
    flex-wrap: wrap;
    justify-content: center;
    /* background-image: url('https://image.freepik.com/foto-gratis/bodega_181624-1264.jpg'); */
    
    /* background-position-y: 70px; */
    padding-top: 8rem;
    margin-left: 20%;
}

.Catalogue__container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('https://image.freepik.com/foto-gratis/bodega_181624-1264.jpg');
    background-size: cover;
}