.Catalogue__Div {
    display: flex;
    flex-direction: row;
    margin-top: 20px ;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/photo/2019/12/01/18/02/vineyards-4666055_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
