.SearchBar__form{
    display: flex;
    align-items: center;
    margin-right: 20px !important;
    color: white;
}
.SearchBar__form div div input {
    background-color: rgb(10, 10, 10);
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 3%;
    /* border: 2px solid white !important; */
    color : white;
}
.MuiInput-colorSecondary.MuiInput-underline:after{
    border-bottom-color: white !important;
}
.SearchBar___btn{
    margin-bottom: 0px;
    margin-top: 15px !important;
    color: white !important;
}

#standard-secondary div :active{
    border: 2px solid green !important;
}
/* div #standard-secondary{
    border: 2px solid green !important;
    color: white !important;
} */

div label{
    color: white !important;
}
