.products {
    width: 60rem;
    padding: 2rem
}

.productCart {
    display: flex;
    flex-direction: row;
}

.infoProduct {
    text-align: left;
}

.imageProductCart {
    width: 8rem;
}

.subtotal {
    font-size: 0.7rem;
}

.ShoppingCart {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    background-color: white;
}

.ShoppingCartEmpty {
    padding-top: 5rem;
    padding-left: 2rem; 
    background-color: white;
}

.link {
    text-decoration: none;
}

.Summary {
    align-content: center;
    font-size: 0.8rem;
    height: 7rem;
}

.infoProduct {
    display: flex;
    flex-direction: row;
    width: 40rem;
    justify-content: space-around;
}

.quantity {
    height: 1rem;
    margin-right: 1rem;
}

.ProductDescription {
    font-size: 0.8rem;
}

.line {
    color: rgb(175, 167, 167);
}

.lineEmpty {
    color: gray;
    margin-left: 0rem;
    margin-right: 2rem;
}

.titleCart {
    text-align: left;
    font-weight: lighter;
}

.detail {
    padding: 2rem;
}

.imgCartEmpty {
    height: 25rem;
}