.OrderTable__Container{
    padding-top: 10rem;
    background-size: contain;
    /* height: 78vh; */
}
.OrderTable__Text{
margin: 0px;
color: white;
list-style: none;
width: 20%;
}
.OrderTable__Ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
}
.OrderTable__index{
    margin: 0px;
    color: white;
    list-style: none;
    width: 20%;
    font-weight: bold;
    padding: 1rem 0rem;
    border-bottom: 0.1rem solid white;
    border-top: 0.1rem solid white;
    }