#contenido {
    background-color: black;
}

#title {
    color:  #be9063 !important;
    background-color: black !important;
    margin-top: 0px
}

#mission, #vission, #values {
    display: none;
}


#missionImg, #visionImg, #valuesImg {
    color:  #be9063 !important;
    background-color: black !important;
    margin-top: 0px;
  
    height: 20%;
    width: 20%;
}
/* #visionImg{
    background-image:url("https://o.remove.bg/downloads/199020e5-cb8c-4308-98e9-d229fcb1aab1/vission-removebg-preview.png");
        width:200px;
} */